node_modules
npm-debug.log
dist
.git
.gitignore
README.md
.env.local
.env.*.local
*.pem
.DS_Store
.vscode
.idea
.eslintignore
.prettierignore
coverage
.nyc_output
firestore-debug.log
firebase-debug.log
.firebase
