NODE_ENV=development
PORT=3003

DB_HOST=postgres
DB_PORT=5432
DB_NAME=vitalsedge
DB_USER=vitalsedge_user
DB_PASSWORD=SecurePostgresPass123!

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=SecureRedisPass123!

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=vitalsedge_user
RABBITMQ_PASSWORD=SecureRabbitPass123!
RABBITMQ_URL=amqp://vitalsedge_user:SecureRabbitPass123!@rabbitmq:5672

AUTH_SERVICE_URL=http://auth-service:3001