NODE_ENV=development
PORT=3004

MONGODB_HOST=mongodb
MONGODB_PORT=27017
MONGODB_USER=vitalsedge_user
MONGODB_PASSWORD=SecureMongoPass123!
MONGODB_DATABASE=vitalsedge_iot
MONGODB_URL=mongodb://vitalsedge_user:SecureMongoPass123!@mongodb:27017/vitalsedge_iot?authSource=admin

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=SecureRedisPass123!

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_URL=amqp://vitalsedge_user:SecureRabbitPass123!@rabbitmq:5672

PATIENT_SERVICE_URL=http://patient-service:3002